<?xml version="1.0" encoding="UTF-8"?><configuration><system.webServer><handlers><add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%PYTHON_PATH%\python.exe|%PYTHON_PATH%\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" /></handlers><fastCgi><application fullPath="%PYTHON_PATH%\python.exe" arguments="%PYTHON_PATH%\Lib\site-packages\wfastcgi.py" /></fastCgi><environmentVariables><add name="PYTHONPATH" value="%PROJECT_PATH%" /><add name="WSGI_HANDLER" value="app.app" /></environmentVariables></system.webServer></configuration>
